
    <header>
        <div class="top-head">
            <div class="sub">
                <div class="img-set">
                    <a href="#"><img src="./assets/images/ln.svg" alt="" /></a>
                    <a href="#"><img src="./assets/images/fb.svg" alt="" /></a>
                    <a href="#"><img src="./assets/images/twt.svg" alt="" /></a>
                    <a href="#"><img src="./assets/images/inst.svg" alt="" /></a>
                </div>

                <span class="dot1"></span>

                <div class="translate">
                    <img src="./assets/images/trans.svg" alt="Translate" />

                    <a href="#">English</a>
                </div>
                <span class="dot"> </span>
            </div>

            <div class="sub-2">

                <ul class="text-set">
                    <span class="dot2"></span>
                    <li>Tableau Free Trail</li>

                    <span class="dot2"></span>

                    <li>Alteryx Free Trial</li>
                    <span class="dot2"></span>
                    <li>Auraa Free Trail</li>
                    <li>
                        <img class="book" src="./assets/images/call-date-schedule-icon.svg" alt="book">
                        <button class="btn-1">Schedule a call</button>
                    </li>
                </ul>



            </div>
        </div>

        <div class="top-section">
            <div class="logo">
                <img src="./assets/images/logo.svg" alt="Beinex" />
            </div>

            <ul class="title-sub">
                <li routerLinkActive="active"> <a class="router" routerLink="services"> Services </a></li>
                <li>Partners</li>
                <li>Industries</li>
                <li>Companies</li>
                <li>Events</li>
                <li>Careers</li>
                <li>Blog</li>
                <li>Training</li>
                <li>Contact us</li>
            </ul>
        </div>
    </header>