<footer>
    <div class="footer-1">

        <div class="row row-cols-5">
            <div class="f-card">


                <div class="f-img">
                    <img src="./assets/images/image (17).svg">

                </div>
                <div class="f-title">
                    Beinex-UAE

                </div>
                <div class="f-content">
                    <p>506, BB01, Bay Square,

                        Business Bay,

                        P. O. Box 82940,

                        Dubai, United Arab Emirates
                        Phone: +971 4 243 9494

                        Mobile: +971 52 695 0068

                        Email: Info@beinex.com</p>

                </div>

            </div>

            <div class="f-card">


                <div class="f-img">
                    <img src="./assets/images/image (18).svg">

                </div>
                <div class="f-title">
                    Beinex Qatar

                </div>
                <div class="f-content">
                    <p>Global Business Centre II,

                        Office No. R19, 2nd floor Al
                        Hitmi Village, Building No 40,
                        Cornish Road, Doha, Qatar

                        P.O Box 25422

                        Office: +974 44023981

                        Phone: +974 50682589

                        Email: info@beinex.qa</p>

                </div>

            </div>

            <div class="f-card">


                <div class="f-img">
                    <img src="./assets/images/image (19).svg">

                </div>
                <div class="f-title">
                    Beinex-Kenya

                </div>
                <div class="f-content">
                    <p>
                        Beinex Consulting Ltd

                        Purshottam Place, 7th floor,
                        Westlands Rd, Museum Hill
                        P. O. Box 66217 00800,
                        Nairobi, Kenya.

                        Phone: +254 020 515 4016

                        Email: Info@beinex.com
                    </p>

                </div>

            </div>

            <div class="f-card">


                <div class="f-img">
                    <img src="./assets/images/image (20).svg">

                </div>
                <div class="f-title">
                    Beinex-United Kingdom

                </div>
                <div class="f-content">
                    <p>New Broad Street House

                        35 New Broad St

                        London England EC2M 1NH

                        Phone: +44 7539 393552

                        Email: UK@beinex.com</p>

                </div>

            </div>

            <div class="f-card">


                <div class="f-img">
                    <img src="./assets/images/image (21).svg">

                </div>
                <div class="f-title">
                    Beinex-India

                </div>
                <div class="f-content">
                    <p>19, Ground Level

                        Infopark TBC, JNI Stadium

                        Kaloor, Kochi

                        Kerala 682017, India

                        Office: +91 484 4855800

                        Mobile: +91 920 7204499

                        Mobile: +91 952 6451099

                        Email: Info@beinex.com</p>

                </div>

            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer-bar">
            <div class="title-nl">
                Subscribe to our newsletter
                <div class="nes">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae ac facilisis.</p>
                </div>
            </div>


            <div class="search">
                <input type="email" placeholder="email" name="email" id="">
                <div class="arrow">
                    <img src="./assets/images/arrow.svg" alt="arrow">
                </div>

            </div>
        </div>
        <div class="f1">
            <img src="./assets/images/logo.svg " alt="Beinex" />
            <ul>
                <li>About Beinex</li>
                <li>Careers</li>
                <li>Press Releases</li>
                <li>Beinex in the News</li>
            </ul>
        </div>

        <div class="f2">
            <h2 class="ser">Our Services</h2>
            <div class="ul-set">
                <ul>
                    <li>Advanced Analytics</li>
                    <li>AI /ML/RPA</li>
                    <li>Alteryx APA</li>
                    <li>Risk and Audit Analytics</li>
                    <li>Beinex Digital</li>
                    <li>Business Intelligence</li>
                </ul>

                <ul>
                    <li>Competitive Intelligence</li>
                    <li>Modern Cloud Analytics</li>
                    <li>Risk Analytics</li>
                    <li>Tableau</li>
                    <li>Tableau Support Services</li>
                </ul>
            </div>
        </div>

        <div class="f3">
            <h2>Our Industries</h2>
            <ul>
                <li>Finance</li>
                <li>Human Resources</li>
                <li>Procurement</li>
                <li>Sales</li>
            </ul>
        </div>

        <div class="f4">
            <h2>Our Partners</h2>

            <div class="ul-set2">
                <ul>
                    <li>Tableau</li>
                    <li>Alteryx</li>
                    <li>Aurex.ai</li>
                    <li>Amazon Web Services</li>
                </ul>

                <ul>
                    <li>Microsoft Azure</li>
                    <li>Snowflake</li>
                    <li>Salesforce</li>
                    <li>Alation</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <ul class="btm-ul">
            <li>Privacy Policy</li>
            <li class="bd">Terms of Use</li>
            <li>Cookie Policy</li>
        </ul>

        <div class="social">
            <a href="#">
                <img src="./assets/images/reshot-icon-linkedin-G7YJ8FXBKT.svg" alt="Ln" />
            </a>
            <a href="#">
                <img src="./assets/images/reshot-icon-twitter-4EAXDHGYM5.svg" alt="Fb" />
            </a>

            <a href="#">
                <img src="./assets/images/reshot-icon-twitter-4EAXDHGYM5.svg" alt="Tweet" />
            </a>

            <a href="#">
                <img src="./assets/images/reshot-icon-instagram-M2ZK3USTWR.svg" alt="instagram" />
            </a>
        </div>

        <p>Copyright © 2022 - 23 Beinex</p>
    </div>

</footer>