@mixin display-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin title-sub-li{
    list-style: none;
    margin-right: 30px ;
    font-size: 16px;
    font-weight: 300;
    color:rgb(18, 5, 64) ;
    
}

@mixin dot2{
    background: #25BBED;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 30px;
}

@mixin dot1{
    background: #888a8a;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 30px;
}