<div class="banner-1 container-fluid">
    <div class="row">
        <div id="one" class="col-6">
            <h1>
                Beinex supports the launch of AWS Middle East Region in the UAE
                region
            </h1>

            <p class="desc">
                Beinex is proud to support Amazon Web Services (AWS) for the launch
                of AWS Middle East Region in the UAE. AWS is a global pioneer in
                cloud based offerings, with more than 200 services provided from
                data centers run globally. An AWS Advanced Consulting Partner Beinex
                can transform how you run your business digitally by providing you
                with the true edge in AWS cloud related implementations and
                solutions
            </p>
            <p class="desc2">
                And yes, feel free to avail of the incredible Region Launch special
                offers we have for you!
            </p>

            <div class="btns">
                <button class="btn-demo">Request A Demo</button>
                <p>Talk to us</p>
            </div>
        </div>
        <div id="two" class="col-6"></div>
    </div>
</div>

<div class="banner-2 container-fluid">
    <div class="offer">
        SPECIAL OFFERS IN CONNECTION WITH THE LAUNCH
        <h2>10% Discount</h2>
    </div>
    <div class="container">
        <div class="card-set">
            <img class="star" src="./assets/images/image (1).svg" alt="" />
            <div class="card">
                <img src="./assets/images/image (7).svg" alt="" />
                <div class="title-card">
                    <h3>Real-Time Analytics Using AWS Kinesis</h3>
                </div>
                <p>
                    AWS Kinesis provides a fast and efficient way to transform and
                    analyse streaming data in real-time using Apache Flink. It also
                    allows customers to query and analyse data in real-time and
                    continuously produce insights and stateful computations to trigger
                    real-time actions like anomaly detection based on historical data
                    trends. Such live data can then be visualised in the form of BI
                    dashboards using Tableau or PowerBI.
                </p>

                <p>
                    <i>Experience spot-on visualisation for dynamic data input
                        flow.</i>
                </p>
                <button class="btnrdm">Redeem Now</button>
            </div>
        </div>

        <div class="card-set">
            <img class="star" src="./assets/images/image (1).svg" alt="" />
            <div class="card">
                <img src="./assets/images/image (2).svg" alt="" />

                <div class="title-card">
                    <h3>Real-Time Analytics Using AWS Kinesis</h3>
                </div>
                <p>
                    AWS Kinesis provides a fast and efficient way to transform and
                    analyse streaming data in real-time using Apache Flink. It also
                    allows customers to query and analyse data in real-time and
                    continuously produce insights and stateful computations to trigger
                    real-time actions like anomaly detection based on historical data
                    trends. Such live data can then be visualised in the form of BI
                    dashboards using Tableau or PowerBI.
                </p>

                <p>
                    <i>Experience spot-on visualisation for dynamic data input
                        flow.</i>
                </p>
                <button class="btnrdm">Redeem Now</button>
            </div>
        </div>

        <div class="card-set">
            <img class="star" src="./assets/images/image (1).svg" alt="" />
            <div class="card">
                <img src="./assets/images/image (3).svg" alt="" />
                <img src="" alt="" />
                <div class="title-card">
                    <h3>Real-Time Analytics Using AWS Kinesis</h3>
                </div>
                <p>
                    AWS Kinesis provides a fast and efficient way to transform and
                    analyse streaming data in real-time using Apache Flink. It also
                    allows customers to query and analyse data in real-time and
                    continuously produce insights and stateful computations to trigger
                    real-time actions like anomaly detection based on historical data
                    trends. Such live data can then be visualised in the form of BI
                    dashboards using Tableau or PowerBI.
                </p>

                <p>
                    <i>Experience spot-on visualisation for dynamic data input
                        flow.</i>
                </p>

                <button class="btnrdm">Redeem Now</button>
            </div>
        </div>
    </div>
</div>

<div id="banner-3" class="container-fluid">
    <div class="offer d-flex justify-content-between align-items-center">
        <div class="row">
            SPECIAL OFFERS IN CONNECTION WITH THE LAUNCH
            <h2>10% Discount</h2>
        </div>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ad
            pariatur repudiandae.
        </p>
    </div>

    <div class="section container">
        <div class="card-set2">
            <img src="./assets/images/image (4).svg" />
            <div class="title">
                <h3>The Challenge</h3>
            </div>
            <p>
                The company encountered the issue of Predictive Maintenance with
                several thousand pieces of equipment functioning and those too of
                multiple models.
            </p>
        </div>

        <div class="card-set2">
            <img src="./assets/images/image (5).svg" />
            <div class="title">
                <h3>The Challenge</h3>
            </div>
            <p>
                The company encountered the issue of Predictive Maintenance with
                several thousand pieces of equipment functioning and those too of
                multiple models.
            </p>
        </div>

        <div class="card-set2">
            <img src="./assets/images/image (6).svg" />
            <div class="title">
                <h3>The Challenge</h3>
            </div>
            <p>
                The company encountered the issue of Predictive Maintenance with
                several thousand pieces of equipment functioning and those too of
                multiple models.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid d-flex align-items-center" style="padding: 50px">
    <form id="form-elements" class="col-6 container-fluid">
        <p class="req">Request A Demo</p>

        <div class="n-e mb-4">
            <input placeholder="Name" type="name" />

            <input placeholder="Email" type="email" />
        </div>

        <div class="c-p mb-4">
            <input placeholder="Select Country" type="text" />

            <input placeholder="Phone Number" type="tel" />
        </div>

        <div class="c-j mb-4">
            <input placeholder="Company" type="text" />

            <input placeholder="Job Role" type="text" />
        </div>
        <div class="msg mb-4">
            <textarea style="width: 575px" name="message" placeholder="Message" id="msgs"></textarea>
        </div>
        <div class="sub-btn">
            <button type="button" class="btn4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Submit
            </button>


        </div>


        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Success</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        We Will Get Back To You Soon
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>


    </form>

    <div class="col-4 content-text">
        <p class="text1">What Will Be The Next Step ?</p>
        <p>
            One of our executives will get in touch with you to gather your
            requirement.
        </p>
        <p>We will analyse the requirement and schedule a virtual demo.</p>
    </div>
</div>


